* {
  margin: 0;
  padding: 0;
}



.gameContainer {


  .cell {
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
}

.bottomSection {
  text-align: center;
  font-size: 40px;
  margin-top: 10%;

  .gameStatus {
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .restart {

    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;

  }
}